APP_NAME=Eltel Pole Prototype
APP_ENV=development
HOST=0.0.0.0
PORT=8000

USE_AZURE_DI=false
AZURE_DI_ENDPOINT=
AZURE_DI_KEY=

USE_AZURE_OPENAI=false
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_KEY=
AZURE_OPENAI_DEPLOYMENT=